$padding-marco: 200px;

$_text-default: white;


$background-color: rgba(57, 57, 57, 0.8);
$background-form-color:rgba(255, 255, 255, 0.8);
$background-grid-color: rgba(19, 14, 14, 0.3);


$theme-colors: (
  "primary":    rgba(0, 128, 0, 0.9)
)