$font-family: "Audiowide", sans-serif;

$fs-default: 16;
$fs-icons: 39/$fs-default + rem;


$fs-title-xs: 16/$fs-default + rem;
$fs-title-s: 20/$fs-default + rem;
$fs-title-sm: 25/$fs-default + rem;
$fs-title-m: 30/$fs-default + rem;
$fs-title-l: 45/$fs-default + rem;
$fs-title-xl: 55/$fs-default + rem;


$fs-text-s: 12/$fs-default + rem;
$fs-text: 15/$fs-default + rem;



$fs-footer: 12/$fs-default +rem;